/* #FORM
   ========================================================================== */

.c-form {
    display: flex;
}

.c-form__control {
    border: none;
    margin-left: 1rem;
    padding: .5rem;
    height: 2.5rem;
    width: 100%;
    transition: width 300ms;

    @media only screen and (min-width: 768px) {
        width: 25ch;
    }
}